@model (User,IndustryUser?);

<form asp-controller="Home" asp-action="ModifyProfile" method="post">
    <div class="card p-5">
        <div class="card-header d-flex justify-content-center">
            <img src="/default.jpg" width="50" height="50" />
        </div>
        <div class="card-body">
            <div class="vstack w-100">
                <div class="form-floating">
                    <input type="text" value="@Model.Item1.Name" class="form-control" id="userName" placeholder="Name" data-section="section" name="name" readonly />
                    <label class="form-label" for="userName">Name</label>
                </div>
                <div class="form-floating">
                    <input type="text" value="@Model.Item2.CompanyName" class="@(Model.Item2!=null?"form-control":"d-none")" id="companyName" placeholder="Company Name" data-section="section" name="companyName" readonly />
                    <label class="form-label" for="companyName">Company Name</label>
                </div>
                <div class="form-floating">
                    <input type="text" value="@Enum.GetNames(typeof(ServiceTypes))[Model.Item2.ServiceType.Value-1]" class="@(Model.Item2!=null?"form-control":"d-none")" id="serviceType" placeholder="Service Type" data-section="section" name="serviceType" readonly />
                    <label class="form-label" for="serviceType">Service Type</label>
                </div>
                <div class="form-floating">
                    <input type="text" value="@Model.Item1.Email" class="form-control" id="email1" placeholder="Email" data-section="section" name="email" readonly />
                    <label class="form-label" for="email1">Email</label>
                </div>
                <div class="form-floating">
                    <input type="text" value="@Model.Item1.Phone" class="form-control" id="phone1" placeholder="Phone" data-section="section" name="phone" readonly />
                    <label class="form-label" for="phone1">Phone</label>
                </div>
                <div class="form-floating">
                    <input type="text" value="@Model.Item1.GenderString()" class="form-control" id="gender1" placeholder="Gender" data-section="section" name="gender" readonly />
                    <label class="form-label" for="gender1">Gender</label>
                </div>
                <div class="form-floating">
                    <textarea type="text" class="form-control h-100" id="details1" placeholder="Self Description" data-section="section" name="description" readonly>
                        @Model.Item1.SelfDescription
                    </textarea>
                    <label class="form-label" for="details1">Self Description</label>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <p></p>
            <button class="btn btn-outline-warning" id="update1" onclick="enableSections()" type="button">Update</button>
            <button class="btn btn-outline-success d-none" type="submit" id="submit1">Submit update</button>
        </div>
    </div>
</form>
