@model List<Job>

<form id="jobForm" asp-controller="User" asp-action="FoundJob">
    <div class="card-group w-50 h-50 p-5">
        @foreach (Job ap in Model)
        {
            <div class="card">
                <img src="@(ap.Image!=null ? "data:image/jpg;base64,"+Convert.ToBase64String(ap.Image): ap.ImageSrc)" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">@ap.Name</h4>
                    <input class="form-control" type="text" value="@ap.CreatorId" name="jobCreatorId" hidden />
                    <input class="form-control" type="text" value="@ap.Id" name="jobId" hidden />
                    <p class="card-text">@ap.Description</p>
                    <p class="card-text">Company: @ap.CompanyName</p>
                    <div class="card-footer">
                        <p class="card-text">@ap.Price</p>
                        <a class="card-text" href="@ap.Link" target="_blank">Visit</a>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="button" onclick="MakeInputCommand('@ap.Id',document.getElementById('jobForm'),'@ap.CreatorId')">Apply</button>
                </div>
            </div>
        }
    </div>
</form>