@model List<Email>;
<div class="hstack">
    <div class="d-flex justify-content-left">
        <a class="btn btn-dark" role="button" href="/Email/CreateEmailView">Compose Email</a>
    </div>
    <div class="d-flex justify-content-center p-5">
        <h3>Emails</h3>
        <input class="form-control w-100" id="search" oninput="Search()" placeholder="Search..." />
    </div>
</div>
<form id="emailListForm" method="post">
    <div class="d-flex table-responsive p-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Title</th>
                    <th>Part of mail</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Email mail in Model)
                {
                    <tr name="chosenEmail" value="@mail.Id">
                        <td><object class="image/svg+xml" data="/mail.svg"></object></td>
                        <td class="white-space:pre-wrap" value="@mail.Title"><a role="button" id="viewButton" class="btn-primary btn-link" onclick="submitView('@mail.Id')">@mail.Title</a></td>
                        <td>@mail.Body</td>
                        <td><a role="button" onclick="submitDelete('@mail.Id')" class="btn btn-outline-danger"><object class="image/svg+xml" data="/trash-2.svg"></object></a></td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
</form>