@model (Email?,List<User>,byte[]);

<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-center">
            <img src="@(Model.Item3 ==null ? "/default.jpg" :"data:image/jpg;base64,"+Convert.ToBase64String(Model.Item3))" width="220" height="200" />
        </div>
        <div class="card-body">
            <h5 class="card-title white-space:pre-wrap" style="white-space:pre-wrap">@Model.Item1?.Title</h5>
            <p style="white-space:pre-wrap" class="card-text" id="emailBody">@Model.Item1?.Body</p>

        </div>
        <div class="card-footer">
            <blockquote class="blockquote">
                Posted at @Model.Item1.Date?.ToString("dd.MM.yyyy HH:mm");
            </blockquote>
            <button type="button" id="replyButton" class="btn btn-outline-primary" onclick="openReply()">Reply</button>
            <button type="button" class="btn btn-outline-warning" id="forwardButton" onclick="openForward()">Forward</button>
            <button type="button" class="btn btn-outline-danger" onclick="Delete()">Delete</button>
            <form id="individualEmailForm" method="post">
                <input type="number" name="mailId" value="@Model.Item1.Id" hidden />
                <input id="replyBlockData" name="replyBlockData" hidden />
                <div id="replySection" class="d-none">
                    <textarea class="form-control w-100" id="replyBlock" rows="3">

                </textarea>
                    <button type="button" class="btn btn-outline-secondary" onclick="submitReply()">Send <object class="image/svg+xml" data="/send.svg"></object></button>
                </div>
                <div id="forwardSection" class="d-none">
                    <input class="form-control" id="userIds" name="ids" hidden />
                    <input class="form-control" id="emails" placeholder="Selected Emails" readonly />
                    <label for="forwardCommand" class="form-label">Select people</label>
                    <input class="form-control" list="forwardList" id="forwardCommand" placeholder="Search" />
                    <button class="btn btn-outline-secondary" type="button" onclick="addForward()">Add person</button>
                    <datalist id="forwardList">
                        @foreach (User user in Model.Item2)
                        {
                            <option data-id="@user.Id" value="@user.Email">@user.Email</option>
                        }
                    </datalist>
                    <button type="button" class="btn btn-outline-secondary" onclick="submitForward()">Send <object class="image/svg+xml" data="/send.svg"></object></button>
                    
                </div>
            </form>
        </div>
    </div>
</div>